# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Kivy
.kivy/
*.log

# Build outputs
build/
bin/
dist/
.buildozer/
*.apk
*.aab

# Local application data
app_data.json

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp.buildozer-venv/

build-311-final.txt
build-error-311.txt
build-error.txt